@import url("reset.css");
@import url("logo.css");
/* contact page */


/*body*/
*{
    box-sizing: border-box;
}

body{
    background-image: url(../img/background.png);
}

/* 聯絡我們 */

section{
    margin: 0 auto;
}


section.section-wrapper{

    margin-left: 50px;
    display: block;
}
@media screen and (min-width: 576px) and (max-width: 1200px) {
    .wrapper {
        width: 100%;
    }

}
.section-wrapper  h2{
    display: block;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.section-wrapper span{
    font-size: 24px;
    text-align: center;
    display: block;
    margin-bottom: 50px;
}
.section-wrapper h2, .section-wrapper span{
    padding-top: 125px;
}

::placeholder{  /* 預留文字 */
    color:black;
    font-size: 24px;
}
.section-wrapper ul{
    margin: 0 auto;
}
.section-wrapper ul li{
    margin: 25px 0;
}

.section-wrapper ul li p{
    font-size: 36px;
}
.section-wrapper ul li input{
    height: 50px;
    background-color: #c4c4c4;
}
.section-wrapper ul li textarea{
    height: 285px;
    background-color: #c4c4c4;
}
.section-wrapper .send{
    font-size: 36px;
    display: block;
    margin: 0 auto;
}

.section-wrapper div{
    display: flex;
}
.section-wrapper div img{
    margin:0 auto ;
}

.section-wrapper div ul {
    padding-top: 130px;
}

.section-wrapper img{
    width: 460px;
    /* height: 620px; */
   padding-bottom: 20px;
    display: block;
}
@media screen and (max-width:768px) {
    .section-wrapper  h2{
        font-size: 24px;
        margin-top: 50px;
    }
    .section-wrapper  span{
        font-size: 18px;
    }
    .section-wrapper ul{
        margin-left: 50px;
    }
    
    .section-wrapper ul li{
        margin: 10px 0;
    }
    
    .section-wrapper  ul li p{
        font-size: 24px;
    }
    .section-wrapper  ul li textarea{
        width: 80%;
    }
    
    .section-wrapper  .send{
        font-size: 24px;
        display: block;
        margin-left: 30px;
        
    }
    
    .section-wrapper div{
        display: block;
    }
    .section-wrapper  div img{
        margin: 0;
    }
    
    .section-wrapper  div ul {
        padding-top: 30px;
    }
    
    .section-wrapper img{
        width:100%;
    }
}

/*footer*/

footer{
    background-color: #000000;
    color: #ffffff;
    display: flex;
}

footer p{
    display: block;
    font-size: 18px;
    margin: 0 auto;
    padding: 10px;
}
