@import url("reset.css");
@import url("logo.css");

/*index-page*/

/*body*/
* {
    box-sizing: border-box;
}

body {
    background-image: url(../img/background.png);
}

/*輪播*/
.carousel-inner img {
    width: 100%;
}

/*wrapper*/
.wrapper {
    margin: 0 auto;
}


@media screen and (min-width: 576px) and (max-width: 1200px) {
    .wrapper {
        width: 100%;
    }

}

/* character */
.character {
    display: flex;
    padding-top: 215px;
    flex-wrap: wrap;
}

.character .text1 {
    margin: 0 auto;
    animation: word 2s 1.5s forwards;
    opacity: 0;
}

@keyframes word {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.character img {
    width: 50%;
    animation: curry 1.5s .5s forwards;
    opacity: 0;
    padding-bottom: 50px;
    margin: 0 auto;
}


@keyframes curry {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.character .text1 h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.character .text1 p {
    font-size: 36px;
    text-align: center;
}


.character span {
    color: red;
    font-size: 36px;
    display: block;
    text-align: center;
}





@media screen and (max-width:768px) {

    .character {
        display: block;
        padding-top: 100px;
    }

    .character img {
        display: block;
        max-width: 70% !important;
        height: auto !important;
    }

    .character .text1 h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;

    }

    .character .text1 p {
        font-size: 18px;
        text-align: center;

    }

    .character span {
        color: red;
        font-size: 18px;
        display: block;
        text-align: center;

    }
}


/*影片*/

.video {
    padding-bottom: calc(100% * 9 / 16);
    position: relative;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video iframe, .video object, .video embed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 50%;
}


/*商品排列*/
.picture h2 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}

.image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.image div {
    margin: 0 auto;
}

.image img {
    display: block;
    margin: 0 auto;
    width: 200px;

}

.image img:hover {
    border-bottom: 2px dashed red;
    transform: scale(1.2);

}

@media screen and (max-width:768px) {
    .image {
       flex-direction: column;
       max-width: 70%;
       height: auto;
       /* display: block; */
       align-items: center;
       justify-content: center;
    }
    .picture h2{
        font-size: 24px;
        font-weight: bold;
        margin-top: 100px;
        text-align: center;
    }
    .image img, .image p{
       display: block;
       margin-left: 135px;
    }

}



/*球隊比賽資訊*/
.slide_box {
    width: 100%;
    height: 500px;
    margin-top: 20px;
    background-attachment: fixed;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/warrior.png);
}

.contest {
    z-index: 1;
    width: 70%;
}

.contest h2, .contest p {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.contest h2 {
    font-size: 36px;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.contest p {
    font-size: 20px;
    line-height: 30px;
}

.slide_box .over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

@media screen and (max-width:768px) {
    .slide_box {
        width: 100%;
    }
}


/*about*/

.about {
    display: flex;
    margin-top: 115px;
    margin-bottom: 50px;

}

.about div {
    text-align: center;
    margin: 0 auto;
}

.about h2 {
    margin-bottom: 50px;
    margin-top: 0px;
    font-size: 48px;
}

.about p {
    margin-bottom: 50px;
    font-size: 24px;
}

.about a {
    display: block;
    width: 180px;
    background-color: #484848;
    color: white;
    line-height: 2;
    border-radius: 15px;
    margin: 0 auto;
    text-decoration: none;
}

.about img {
    width: 480px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .about {
        display: block;
    }

   

    .about h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;

    }

    .about p {
        font-size: 18px;
        text-align: center;
    }

    .about a {
        margin-bottom: 20px;
    }
     .about img {
        display: block;
        max-width: 80% !important;
        height: auto !important;
    }
}

/*footer*/
footer {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    padding: 10px;
}

footer p {
    display: block;
    font-size: 18px;
    margin: 0 auto;
    padding: 10px;
}

@media screen and (max-width:768px) {
    footer p {
        font-size: 12px;
        display: block;
        margin: 0 auto;
    }

}

/* 懸浮按鈕區 */
.move {
    position: fixed;
    right: 5px;
    bottom: 100px;
    width: 50px;
}


.move i {
    color: #FFD700;
    font-size: 40px;
    margin-top: 20px;
}

.move .fb i:hover {
    color: #0000FF;
}

.move .ig i:hover {
    color: #E1306C;
}

.move .tw i:hover {
    color: #1DA1F2;
}