@import url("reset.css");
@import url("logo.css");

   /*index-page*/  

    /*body*/
body{
 background-image: url(../img/background.png);
}

.wrapper{   
    width: 1260px;
    margin: 0 auto;
}

    /* character */
.character{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 215px;
}   

.character  img{
    width: 500px;
    height: 355px;
    
}

.character.text1{
    margin-left: 20px;
    
    
}
.character.text1 h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
} 
.character .text1 p{
    font-size: 36px;
}


.character p1{
    color: red;
    font-size: 36px;
}

    /* image */

h2{
     font-size: 48px;
     font-weight: bold;
     text-align: center;
    margin-top: 190px;
     
     
}
.image{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.image div{
    margin: 0 40px;
}

.image img{
    display: block;
    margin: 0 auto;
    width: 200px;
}

.image p{
    border: 1px solid black;

}
ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}

/*information*/
.information{
	width: 1140px;
	clear: both;
	background: #000000;
	margin: 10px auto;
    
    
    
}
.information ul{
	width: 1140px;
}
.information li{
	display: block;
	float: left;
	background: #fff;
	width: 350px;
	margin:15px 22px 15px 0;
}
.information li:first-child{
	margin-left: 23px;
}
.information ul::after{
	content: '';
	display: block;
	clear: both;
}

.info_con{
	width: 350px;
	height:auto;
}

.info_img{
	display:inline-block;
	width: 350px;
    height: 200px;
	text-align: center;
	vertical-align: middle;
}

.info_img > a{
	display: inline-block;
	width: 350px;
	vertical-align: middle;
	overflow: hidden;
	
}

.info_img > a:hover{
	background-image: url(../images/info_hover.png);
    background-repeat: no-repeat;
}
.info_img > a:hover img{
	opacity:.5;
}


.info_img img{
	width: 350px;
    height: 230px;
	overflow: hidden;
    display: block;
}

.info_title{
	font-size: 18px;
	padding: 0 5px;
	text-align: center;
	color: #ffff00;
	height:28px;
	line-height: 28px; 
	overflow: hidden;
}


.slide_box{
    width: 100%;
    height: 500px;
    margin-top: 20px;
    background-attachment: fixed;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/warrior.png);
}
.contest{
    z-index: 1;
    width: 70%;
}
.contest h2,.contest p{
    color: white;
    text-align: center;
    margin-top: 20px;
}
.contest h2{
    font-size: 36px;
    letter-spacing: 2px;
    padding-bottom: 10px;
}
.contest p{
    font-size: 20px;
    line-height: 30px;
}
.slide_box .over{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}



/*about*/

.about{
    display: flex;
    margin-top: 115px;
    margin-bottom: 50px;

}
.about div{
    text-align: center;
    margin: 0 auto;
}

.about h2{
    margin-bottom: 50px;
    margin-top: 0px;
}

.about p{
    display: block;
    width: 430px;
    height: 250px;
    margin-bottom: 50px;
    font-size: 24px;
}

.about a{
    display: block;
    width: 180px;
    height: 50px;
    background-color: #484848;
    color: white;
    line-height: 50px;
    border-radius: 15px;
    margin: 0 auto;
}
.about img{
    width: 480px;
    height: 445px;
    margin: 0 auto;
}

   /*footer*/
footer{
    background-color: #000000;
    color: #ffffff;
    display: flex;
    
}

footer p{
    display: block;
    width: 540px;
    font-size: 18px;
    margin: 0 auto;
   
}

/* 懸浮按鈕區 */
.move{
    position: fixed;
    right: 5px;
    bottom:100px;
    width: 50px; 
}


.move i{
    color:#FFD700;
    font-size: 40px;
    margin-top: 20px;
}

.move .fb i:hover{
    color:#0000FF;
}

.move .ig i:hover{
   color:#E1306C;
} 
.move .tw i:hover{
    color:#1DA1F2;
}