@import url("reset.css");
@import url("logo.css");

   /*index-page*/  

    /*section*/
section{
    width: 1260px;
}

section .section-wrapper{
    background-image: url(../img/background.png);
    width: 1140px;
    margin: 0 60px;
}



    /* main */
.main{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 215px;
}   

.main img{
    width: 500px;
    height: 355px;
}

.main .text1{
    margin-left: 20px;
    
    
}
.main .text1 h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
} 
.main .text1 p{
    font-size: 36px;
}


.main p1{
    color: red;
    font-size: 36px;
}

    /* image */

h2{
     font-size: 48px;
     font-weight: bold;
     text-align: center;
    margin-top: 190px;
     
     
}
.image{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.image div{
    margin: 0 40px;
}

.image img{
    display: block;
    margin: 0 auto;
    width: 200px;
}

.image p{
    border: 1px solid black;

}
ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}

/*information*/
.information{
	width: 1140px;
	clear: both;
	background: #000000;
	margin: 10px auto;
    
    
    
}
.information ul{
	width: 1140px;
}
.information li{
	display: block;
	float: left;
	background: #fff;
	width: 350px;
	margin:15px 22px 15px 0;
}
.information li:first-child{
	margin-left: 23px;
}
.information ul::after{
	content: '';
	display: block;
	clear: both;
}

.info_con{
	width: 350px;
	height:auto;
}

.info_img{
	display:inline-block;
	width: 350px;
    height: 200px;
	text-align: center;
	vertical-align: middle;
}

.info_img > a{
	display: inline-block;
	width: 350px;
	vertical-align: middle;
	overflow: hidden;
	
}

.info_img > a:hover{
	background-image: url(../images/info_hover.png);
    background-repeat: no-repeat;
}
.info_img > a:hover img{
	opacity:.5;
}


.info_img img{
	width: 350px;
    height: 230px;
	overflow: hidden;
    display: block;
}

.info_title{
	font-size: 18px;
	padding: 0 5px;
	text-align: center;
	color: #ffff00;
	height:28px;
	line-height: 28px; 
	overflow: hidden;
}
/*about*/

.about{
    display: flex;
    margin-top: 115px;
    margin-bottom: 50px;

}
.about div{
    text-align: center;
    margin: 0 auto;
}

.about h2{
    margin-bottom: 50px;
    margin-top: 0px;
}

.about p{
    display: block;
    width: 430px;
    height: 250px;
    margin-bottom: 50px;
    font-size: 24px;
}

.about a{
    display: block;
    width: 180px;
    height: 50px;
    background-color: #484848;
    color: white;
    line-height: 50px;
    border-radius: 15px;
    margin: 0 auto;
}
.about img{
    width: 480px;
    height: 445px;
    margin: 0 auto;
}

   /*footer*/
footer{
    background-color: #000000;
    color: #ffffff;
    display: flex;
    width: 1440px;
    
    
}

footer p{
    display: block;
    width: 540px;
    font-size: 18px;
    margin-left: 55px;
   
}


  