@import url("reset.css");
@import url("logo.css");

 /*news page*/

/*section*/
section{
  width: 1260px;
}

section .section-wrapper{
  background-image: url(../img/background.png);
  width: 1140px;
  margin: 0 60px;
  position: relative;
}

h2{
  background-color: blue;
  width: 380px;
  text-align: center;
  height: 125px;
  margin-bottom: 25px;
  line-height: 125px;
  display: block;
  font-weight: bold;
  font-size: 48px;
  position: absolute;
  right: 0;
  top: 0;
}
/*image*/
.image{
  display: flex;
  padding-top: 220px;
}

.image img{
  width: 580px;
  height: 385px;
  
}
.image p{
  display: block;
  width: 505px;
  height: 125px;
  font-size: 36px;
}

.image1{
  text-align: center;
  padding-top: 400px;
}

.image1 img{
  width: 480px;
  height: 360px;
}

.image1 p{
  display: block;
  width: 825px;
  height: 45px;
  font-size: 36px;
  margin: 0 auto;
}

footer{
  background-color: #000000;
  color: #ffffff;
  width: 1260px;
  height: 280px;
 
}
  
footer p{
  font-size: 36px;
  display: block;
  width: 775px;
  height: 200px;
  margin-left: 300px;
}
