@import url("reset.css");
@import url("logo.css");

 /*news page*/

/*body*/
*{
  box-sizing: border-box;
}

body{
  background-image: url(../img/background.png);
}

/* 背景圖 */

.background{
  background-color: #ffff00;
  height: 310px;
  display: block;
}

@media screen and (max-width:768px){
  .background{
      width: 100%;
  }
  
}

/*最新消息 */

section .section-wrapper{
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 576px) and (max-width: 1200px) {
  section .section-wrapper {
      width: 100%;
  }

}


h2{
  background-color: blue;
  width: 380px;
  text-align: center;
  height: 125px;
  line-height: 125px;
  display: block;
  font-weight: bold;
  font-size: 48px;
  position: absolute;
  right: 0;
  top: 0;
  margin: auto;

}
/*image*/
.image{
  display: flex;
  padding-top: 220px;
}

.image img{
  width: 80%;
  
}
.image p{
  display: block;
  font-size: 36px;
}

.image1{
  text-align: center;
  padding-top: 50px;
}

.image1 img{
  width: 80%;
}

.image1 p{
  display: block;
  font-size: 36px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .section-wrapper {
      display: block;
  }

 

  .section-wrapper h2 {
      font-size: 24px;
      width: 200px;
      text-align: center;
      display: block;
  }

  
  .image p, .image1 p {
      font-size: 18px;
      text-align: center;
  }

}

/* 頁尾 */

footer{
  background-color: #000000;
  color: #ffffff;
}
  
footer p{
  font-size: 18px;
  display: block;
  padding: 10px;
  text-align: center;
}
