@import url("reset.css");
@import url("logo.css");


/*product-page*/

/* body */
*{
    box-sizing: border-box;
}

body {
    background-image: url(../img/background.png);
}

/* 背景圖 */

.background {
    background-color: #ffff00;
    height: 310px;
    display: block;
}

@media screen and (max-width:768px){
    .background{
        width: 100%;
    }
    
}

/* 商品專區 */

section .section-wrapper {
    margin: 0 auto;

}
@media screen and (min-width: 576px) and (max-width: 1200px) {
    section .section-wrapper {
        width: 100%;
    }

}


.image {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.image h2 {
    background-color: blue;
    width: 380px;
    text-align: center;
    height: 125px;
    line-height: 125px;
    display: block;
    font-weight: bold;
    font-size: 48px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.image .shoes1 {
    margin: 0 auto;
}

.image .shoes1 a {
    display: block;
    text-decoration: none;
    color: #000000;
    
}

.image .shoes1 img {
    display: block;
    width: 200px;
    padding-top: 150px;
}


@media screen and (max-width: 768px) {
    .section-wrapper {
        display: block;
    }

    .image h2 {
        font-size: 24px;
        width: 200px;
        text-align: center;
        display: block;
        height: 100px;
        line-height: 100px;
    }

    .image .shoes1 a{
        margin: 0 auto;
        display: block;

    }
    .image .shoes1 p{
        text-align: center;
    }

     .image .shoes1 img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
}



/*footer*/

footer {
    background-color: #000000;
    color: #ffffff;
    display: flex;
}

footer p {
    display: block;
    font-size: 18px;
    margin: 0 auto;
    padding: 10px;
}
