@import url("reset.css");
@import url("logo.css");
/*shopping page*/
 /*body*/
body{
	background-image: url(../img/basketball-count.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.wrapper{
	width: 1260px;
	margin: 0 auto;
}

 .basketball{
	padding: 125px 120px 0;
    width: 1140px;
    margin: 0 auto;
	box-sizing: border-box;
}
 .basketball h2{
  font-size: 48px;
  text-align: center;
} 
 /*table*/

table{
	width: 700px;
	margin:0 auto;
	border:5px solid black
}

tr td{
	font-size: 24px;
}

.list-title{
	background-color: #e01a33;
	color: white;
	text-align: center;
}

.list-no{
	width: 50px;
}

.list-tl{
	text-align: left;
}

td{
	border: 1px solid #ccc;
	padding: 20px;
	text-align: center;
}

section{
	display: flex;
	width: 280px;
	margin-left: 250px;
	
}
section div{
    text-align: center;
    margin: 0 auto;
}

section h2{
    margin-bottom: 50px;
    margin-top: 0px;
    font-size: 48px;
}
section ul{
    display: inline-block;
    width: 430px;
    height: 250px;
    margin-bottom: 50px;
    font-size: 24px;
}


/*footer*/
footer{
    background-color: #000000;
    color: #ffffff;
    display: flex;  
}

footer p{
    display: block;
    width: 540px;
    font-size: 18px;
    margin: 0 auto;
}