@import url("reset.css");
@import url("logo.css");


/*thing-page*/

/*body*/
*{
    box-sizing: border-box;
}

body {
    background-image: url(../img/background.png);
}
carousel-inner img {
    width: 50%;
}

/* 背景圖 */

.background {
    background-color: #ffff00;
    width: 100%;
    height: 310px;
    display: block;
}

/*product*/

section.section-wrapper {
    width: 1260px;
    margin: 0 auto;

}

.product {
    display: flex;
}

.product img {
    width: 460px;
}
.text1 p{
    font-size: 36px;
} 
.size-err{
    font-size: 24px;
}

.float-clearfix {
    clear: both !important;
}

.product-size-name .pdp-size-title {
    margin: 15px 0 8px;
}

.product-size-name .pdp-size ul li {
    float: left;
    width: auto;
    min-width: 44px;
    padding: 0 10px;
    height: 38px;
    border: 1px solid #c7c7c7;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    margin-right: 13px;
    margin-bottom: 12px;
    background-color: #c4c4c4;
}

/*image*/
.image {
    display: flex;
    padding-top: 100px;
}
.image h2{
    font-size: 48px;
    text-align: center;

}

.image img {
    width: 220px;
    height: 230px;
}
.product p{
    font-size: 24px;
}


/*footer*/
footer {
    background-color: #000000;
    color: #ffffff;
    display: flex;
}

footer p {
    display: block;
    font-size: 18px;
    margin: 0 auto;
    padding: 10px;
}